html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  background-color: #FFFACC;
  font-family: 'Sarabun', sans-serif;
}
.container{
  background-color: #FFFACC;
}
.nav-item{
  background-color: #FFFACC;
  color: black;
}
.intro{
  font-size: 40px;
  font-weight: 800;
}
